.sf_top_card{
    background-color: rgb(27 109 193);;
}

.sf_top_name{
    padding-bottom:5px;
    color:white;
}

.img_animation img {
  transition: transform .3s ease;
  overflow: hidden;
  /* transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s; */
  }

  .img_animation :hover   {
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  }