/* .sidebar{
    width: 367px;
    margin-left: 0;
    padding-left: 0;
} */
.sidebar-item{
    padding: 5px;
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.sidebar-item:hover{
    background-color: #1b6dc1;
    color: white;
}
.sidebar-title{
    display: flex;
    justify-content: space-between;
}
.sidebar-title i{
    transition: transform 0.5s;
    cursor: pointer;
}
.sidebar-item.active  .sidebar-title i{
    transform: rotate(180deg);
}
.sidebar-content{
    /* padding-top: 18px; */
    height: 0;
    overflow: hidden;
    /* padding-left: 150px; */
    /* transition: padding-left 0.6s; */
}
.sidebar-item.active .sidebar-content{
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 18px ;
    padding: 10px;
}