

.bd-step__title {
    font-size: 45px;
    position: absolute;
    top: 53%;
    left: 40%;
    transform: translate(0%);
    z-index: 11;
    color: rgb(255, 252, 252);
    font-weight: var(--bd-fw-light);
    font-family: var(--pfamily);
  }
  
  .bd-step__icon {
    transform: translate3d(0, 0, 0);
    -webkit-transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
    -moz-transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
    -ms-transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
    -o-transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
    transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  }
  .bd-step__icon img {
    margin-bottom: 25px;
  }
  .bd-step__content p {
    color: "black"
  }
  
  .bd-step__content h3 {
    margin-bottom: 25px;
  }
  .bd-step__content h3 a:hover {
    color:#2727b8 !important;
  
  }
  .bd-step__item {
    padding: 0 27px;
  }
  
  
  .bd-step__area{
  background-image: url("../../assets/img/Slider/footer_bg_3.jpg");
  background-size: cover;
  
  }
  
  .sf_earn_wrapper{
    background-color:rgba(80, 80, 80, 0.567);height:430px
  }